*{
    margin:0;
    padding:0;
    border: none;
}
.head{
    font-family: PopPins;
    font-size:1.5rem;
    justify-content: center;
    text-align: center;
    /* color:black; */
}
h1{
    font-family: Poppins;
    font-size: 1.3rem;
    /* color:green; */
}
h2{
    font-family: Poppins;
    font-size: 1.2rem;
    /* color:blue; */
}
.button{
    justify-content: center;
    text-align: center;
}
